// Variables 

//Colors
$white: 	#f9f9f9;
$black: 	#222;

$primary: 		#2786C1;
$secondary: 	#6A5D9B;
$third:		    #31AAA1;
$accent1:		#A1978A;
$accent2:		#0A2851;
$accent3:	    #405472;
$accent4: 		#bf0840;

$gray-lighter:	#eff2f5;
$gray-light:	#b8c2ca;
$gray:			#89959d;
$gray-dark:		#515d66;
$gray-darker:	#2a3238;

// Layout 
$gutter: 20px;
$col-width: 25%;

// font
$main-font: 'Roboto Light', 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, sans-serif;
$bold-font: 'Roboto Medium', 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, sans-serif;
$sub-font: 'Montserrat', Verdana, Geneva, sans-serif;

// Responsive 
$x-large-width: 1980px;
$large-width: 1366px;
$medium-width: 1280px;
$small-width: 1044px;
$x-small-width: 768px;